<%= link_to 'Home', root_path, class:"btn btn-outline-secondary btn-lg" %>
<br/><br/>

<div class="jumbotron jumbotron-fluid"> 
  <div class="container">
    <h1 class="display-4">Features</h1>
    <br/>
    <p class="lead" style="font-size:27px">Quick insurance information check and collection</p>
    <p class="lead" style="font-size:27px">Quick and easy ICD-10 and Cpt codes lookup.</p>
    <p class="lead" style="font-size:27px">Quick and easy care bill generation.</p>
    <p class="lead" style="font-size:27px">Quick and easy superbill generation and submition.</p>
  </div>
</div>